name: PR pipeline

on:
  push:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  gradle:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        jdk: [ 17, 19, 21 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
      - name: Detekt
        uses: gradle/gradle-build-action@1a18d0b2d320a9fdba0e6a127b832c9e941375ff
        with:
          arguments: detekt
      - name: Test
        uses: gradle/gradle-build-action@1a18d0b2d320a9fdba0e6a127b832c9e941375ff
        with:
          arguments: test


